<div class="block lg:flex lg:flex-row-reverse lg:space-x-2 py-4 mb-10">
  <div class="w-full lg:w-1/4 px-4 lg:pl-0">
    <ng-container *ngComponentOutlet="BlogSideTagsComponent"></ng-container>
  </div>
  <div class="w-full lg:w-3/4 px-4 lg:pl-0">
    <h2 class="mb-8 text-2xl font-bold leading-4">2021 iThome 鐵人賽</h2>
    <ul>
      <li class="py-2" *ngFor="let link of ironmanList$ | async">
        <a [routerLink]="['/blog', link.directory, link.slug]"
          >{{ link.update || link.date }}　{{ link.title }}</a
        >
      </li>
    </ul>
  </div>
</div>
