<div class="max-w-2xl m-auto content form bg-white p-6 my-10 relative">
  <h3 class="text-2xl text-gray-900 font-semibold">About Mandy</h3>
  <p class="mt-2">前端工程師</p>
  <p>這裡紀錄著一些個人學習記錄</p>
  <p class="mt-3">感謝一路上幫助我的朋友們!!!</p>
  <p>歡迎與我交流!!!</p>

  <p class="mt-6 text-lg font-bold">本站使用技術：</p>
  <ul class="mt-1">
    <li>Angular</li>
    <!-- <li>Scully</li> -->
    <li>Tailwind + BEM 命名規則</li>
  </ul>

  <div class="mt-6 space-x-4">
    <a class="text-blue-500" href="//github.com/mtwmt" target="_blank">
      <fa-icon
        [icon]="['fab', 'github']"
        size="3x"
        class="text-gray-500 hover:text-primary-800 transition duration-300"
      ></fa-icon>
    </a>
    <a href="mailto:mtwmt@hotmail.com" target="_blank">
      <fa-icon
        [icon]="['fas', 'at']"
        size="3x"
        class="text-gray-500 hover:text-primary-800 transition duration-300"
      >
      </fa-icon>
    </a>
  </div>
</div>
