<div class="h-full">
  <div class="py-[3.35rem] px-[4vw]">
    <h3 class="text-3xl text-black">About Mandy</h3>
  </div>
  <div class="border-t border-neutral-200 py-10 px-[4vw]">
    <p class="mt-2">前端工程師</p>
    <p>這裡紀錄著一些個人學習記錄</p>
    <p class="mt-3">感謝一路上幫助我的朋友們!!!</p>
    <p>歡迎與我交流!!!</p>

    <p class="mt-6 text-lg font-bold">本站使用技術：</p>
    <ul class="mt-1">
      <li><a href="https://angular.tw/" target="_black">Angular</a></li>
      <li>
        <a href="https://tailwindcss.com/" target="_black">Tailwindcss</a>
      </li>
    </ul>

    <div class="mt-6 space-x-4">
      <a class="text-blue-500" href="//github.com/mtwmt" target="_blank">
        <fa-icon
          [icon]="['fab', 'github']"
          size="3x"
          class="text-gray-500 transition duration-300 hover:text-primary-800 dark:hover:text-primary-400"
        ></fa-icon>
      </a>
      <a href="mailto:mtwmt@hotmail.com" target="_blank">
        <fa-icon
          [icon]="['fas', 'at']"
          size="3x"
          class="text-gray-500 transition duration-300 hover:text-primary-800 dark:hover:text-primary-400"
        >
        </fa-icon>
      </a>
    </div>
  </div>
</div>
