<nav class="flex border-b">
  <ng-container *ngIf="(!hideSinglePage && lastIndex === 1) || lastIndex > 1">
    <ng-container *ngFor="let page of pageRangeItem">
      <ng-container *ngIf="page.type === 'prev' && !page.disabled">
        <a
          (click)="onPageIndex(page)"
          class="flex h-12 w-10 cursor-pointer items-center justify-center border-r border-neutral-200 hover:bg-neutral-200"
        >
          <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
        </a>
      </ng-container>

      <ng-container *ngIf="page.type === 'prev_5'">
        <a
          (click)="onPageIndex(page)"
          class="flex h-12 w-10 cursor-pointer items-center justify-center border-r border-neutral-200 hover:bg-neutral-200"
        >
          <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
        </a>
      </ng-container>

      <ng-container *ngIf="page.type === 'page'">
        <a
          (click)="onPageIndex(page)"
          class="flex h-12 w-10 cursor-pointer items-center justify-center border-r border-neutral-200 hover:bg-neutral-200"
          [ngClass]="
            page.index === pageIndex
              ? 'cursor-default border-primary-800 bg-primary-800 text-white hover:bg-primary-800 hover:opacity-100'
              : ''
          "
        >
          {{ page.index }}
        </a>
      </ng-container>

      <ng-container *ngIf="page.type === 'next_5'">
        <a
          (click)="onPageIndex(page)"
          class="flex h-12 w-10 cursor-pointer items-center justify-center border-r border-neutral-200 hover:bg-neutral-200"
        >
          <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
        </a>
      </ng-container>

      <ng-container *ngIf="page.type === 'next' && !page.disabled">
        <a
          (click)="onPageIndex(page)"
          class="flex h-12 w-10 cursor-pointer items-center justify-center border-r border-neutral-200 hover:bg-neutral-200"
        >
          <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
        </a>
      </ng-container>
    </ng-container>
  </ng-container>
</nav>
