@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";

@layer base {
  * {
    @apply box-border;
  }

  :root {
    --color-background: #fff;
    --color-light-background: #f5f5f5;
    --color-text: #444;
    --color-light-text: #717171;
    --color-dark-text: #040404;
    --color-border: #eaeaea;
    --color-primary-50: #e0f5f5;
    --color-primary-100: #b3e6e6;
    --color-primary-200: #80d5d5;
    --color-primary-300: #4dc4c4;
    --color-primary-400: #26b7b7;
    --color-primary-500: #00aaaa;
    --color-primary-600: #00a3a3;
    --color-primary-700: #009999;
    --color-primary-800: #009090;
    --color-primary-900: #007f7f;
    --color-primary-A100: #adffff;
    --color-primary-A200: #7affff;
    --color-primary-A400: #47ffff;
    --color-primary-A700: #2dffff;

    &.dark {
      --color-background: #1c1c1c;
      --color-light-background: #404040;
      --color-text: #fff;
      --color-light-text: #fff;
      --color-dark-text: #B4AFB6;
      --color-border: #3e3e3e;
      --color-primary-50: #b9e9e9;
      --color-primary-100: #8dd9d9;
      --color-primary-200: #5ac8c8;
      --color-primary-300: #37a7a7;
      --color-primary-400: #1d8d8d;
      --color-primary-500: #007777;
      --color-primary-600: #007070;
      --color-primary-700: #006666;
      --color-primary-800: #005d5d;
      --color-primary-900: #004c4c;
      --color-primary-A100: #7affff;
      --color-primary-A200: #47ffff;
      --color-primary-A400: #14ffff;
      --color-primary-A700: #00f9f9;
    }
  }

  html,
  body {
    @apply relative m-0 h-full w-full p-0;
    scroll-behavior: smooth;
    &.dark {
      color-scheme: dark;
    }
  }
}

@layer components {
  input,
  textarea,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  a {
    @apply transition duration-300 hover:opacity-70;
  }

  .animation {
    @apply transition duration-300 ease-in-out;
  }

  .btn {
    @apply relative inline-block rounded-md border-2 border-primary-900
    bg-transparent py-1 text-center font-dosis uppercase
    text-primary-500 shadow-[2px_2px_0_#007f7f]
    hover:top-0.5 hover:left-0.5 hover:shadow-none;
    &--active {
      @apply top-0.5 left-0.5 shadow-none;
    }
    &.disabled {
      @apply border-gray-400 bg-gray-100 text-gray-400 shadow-none
      hover:top-0 hover:left-0;
      &--active {
        @apply top-0 left-0;
      }
    }
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
/* body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #3273dc;
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
} */
