---
import { getCollection } from 'astro:content';
import { SITE_TITLE } from '../../../consts';
import MainLayout from '../../../layouts/MainLayout.astro';
import Header from '../../../components/Header.astro';
import AsideLayout from '../../../layouts/AsideLayout.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
import Categories from '../../../components/Categories.astro';
import SearchWidget from '../../../components/SearchWidget.astro';
import { sortByDate } from '../../../lib/sortByDate';
import FormattedDate from '../../../components/FormattedDate.astro';
import PageTitle from '../../../components/PageTitle.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog', (data: any) => !data.data.isDraft);
  const categories = [
    ...new Set(posts.map((post: any) => post.data.categories).flat()),
  ].filter((d: string) => !!d);

  return categories.map((c: string) => {
    return {
      params: { slug: c.toLowerCase() },
      props: {
        category: c,
        posts: sortByDate(
          posts.filter((p) => {
            return p.data.categories
              ?.map((cat: string) => cat.toLowerCase())
              .includes(c.toLowerCase());
          })
        ),
      },
    };
  });
}

const { slug } = Astro.params;
const { posts, category } = Astro.props;
---

<MainLayout title={category + ' | ' + SITE_TITLE}>
  <Header />
  <ContentLayout>
    <PageTitle title={'類別：' + category.toUpperCase()} />
    <ul class="py-10 border-y border-default">
      {
        posts.map((p: any) => {
          return (
            <li class="py-4 px-[4vw]">
              <a href={`/blog/${p.slug}`}>
                <FormattedDate
                  date={p.data.update || p.data.date}
                  className="mr-4 text-left"
                />
                {p.data.title}
              </a>
            </li>
          );
        })
      }
    </ul>
    <AsideLayout slot="aside">
      <!-- <SearchWidget /> -->
      <Categories />
    </AsideLayout>
  </ContentLayout>
</MainLayout>
