<ng-container *ngIf="headings$ | async as nav">
  <ul
    class="leading-[3rem]"
    [ngClass]="scrollTop > headerHight ? 'sticky top-0' : 'relative'"
  >
    <li
      class="h-12 border-b border-primary-700 bg-primary-900 px-3 text-primary-50"
    >
      文章導覽
    </li>
    <li
      *ngFor="let header of nav; let idx = index"
      class="h-12 border-b border-primary-700 text-primary-50 hover:bg-primary-700 hover:text-white"
    >
      <a
        href="#"
        (click)="goTo(header, $event)"
        class="block w-full cursor-pointer px-3"
        [ngClass]="header.classes"
        [class.bg-primary-500]="header.active"
        [class.bg-opacity-70]="header.active"
        >{{ header.text }}</a
      >
    </li>
  </ul>
</ng-container>
