.card {
  @apply relative overflow-hidden
    after:block after:absolute after:top-full after:left-0 after:w-full after:h-[200%] after:pointer-events-none;
  figure {
    @apply relative w-full h-full overflow-hidden;
    img {
      @apply block w-full;
      transform-origin: top;
      transition: transform 0.5s ease;
    }
  }

  &::after {
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.32) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.54) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.79) 100%
    );
    transform: translateY(-50%);
    transition: top 0.5s ease;
  }

  &-summary {
    @apply z-10 absolute top-[calc(100%-4rem)] left-0 p-4 flex items-center flex-col w-full h-full text-white;
    transition: top 0.5s ease;
  }

  h2 {
    @apply p-2 text-center text-xl leading-none bg-black bg-opacity-70 rounded;
  }

  &-category {
    @apply absolute bottom-0 left-0 bg-orange-600 py-2 px-4 text-white text-sm font-semibold uppercase;
  }

  &-description {
    @apply mt-4 text-sm;
  }

  &:hover {
    &::after {
      @apply top-0;
    }
    figure {
      img {
        transform: translateY(-1rem);
      }
    }
  }

  &:hover &-summary {
    @apply top-[calc(50%-48px)];
  }

  &:hover &-category {
    @apply bottom-[calc(50%-48px)];
  }

  a {
    @apply absolute z-20 top-0 left-0 w-full h-full;
  }
}
