
<div class="mx-auto w-full h-full pt-10 pl-10 pr-36 md:px-10">
  <nav class="fixed z-50 top-32 right-8 text-gray-400 lg:right-auto lg:left-1/2 lg:ml-[450px]">
    <ul>
      <li
        *ngFor="
          let timeline of portfolioService.portfolio$ | async as list;
          let idx = index
        "
        class="cursor-pointer font-dosis leading-loose"
        (click)="onYear(idx)"
      >
        {{ timeline.year }}
      </li>
    </ul>
  </nav>
  <ng-container
    *ngFor="
      let timeline of portfolioService.portfolio$ | async as list;
      let index = index
    "
  >
    <div class="flex flex-col">
      <div
        #items
        class="relative top-1 -mt-1.5 py-1 w-24 inline-block font-dosis bg-primary-600 border-2 border-primary-900 rounded-md text-white text-center shadow-[2px_2px_0_#007f7f] md:m-auto md:top-0 md:mt-0"
      >
        {{ timeline.year }}
      </div>

      <ng-container *ngFor="let item of timeline.portfolio; let odd = odd; let idx = index;">
        <!-- left -->
        <div *ngIf="!odd" class="flex w-full h-full transition duration-300">
          <div
            class="flex transition duration-300 md:flex-row-reverse md:w-1/2"
            [ngClass]="idx !== 0 ? 'md:-mt-20 lg:-mt-60' : ''"
          >
            <div class="relative transition duration-300 md:-right-0.5">
              <div
                class="h-full py-10 w-1 bg-primary-800 pointer-events-none"
              ></div>
            </div>

            <div class="ml-10 w-full h-full md:mr-10">
              <div class="relative my-6 lg:my-16
              before:absolute before:top-4 before:-left-4 before:w-0 before:h-0
              md:before:left-auto md:before:-right-4
              before:border-t-[16px] before:border-t-primary-500
              before:border-l-[16px] before:border-l-transparent
              md:before:border-r-[16px] md:before:border-r-transparent md:before:border-l-0
              before:border-solid
              ">
                <ng-container
                  [ngTemplateOutlet]="card"
                  [ngTemplateOutletContext]="{ $implicit: item, idx: idx }"
                ></ng-container>
              </div>
            </div>
          </div>
        </div>

        <!-- right -->
        <div
          *ngIf="odd"
          class="flex w-full h-full transition duration-300 md:justify-end"
        >
          <div class="flex transition duration-300 md:w-1/2"
          [ngClass]="idx !== 0 ? 'md:-mt-44 lg:-mt-60' : ''"
          >
            <div class="relative transition duration-300 md:-left-0.5">
              <div
                class="h-full py-10 w-1 bg-primary-800 pointer-events-none"
              ></div>
            </div>
            <div class="ml-10 w-full h-full md:mr-10">
              <div class="relative my-6 lg:my-16
                before:absolute before:top-4 before:-left-4 before:w-0 before:h-0
                before:border-t-[16px] before:border-t-primary-500
                before:border-l-[16px] before:border-l-transparent
                before:border-solid
              ">
                <ng-container
                  [ngTemplateOutlet]="card"
                  [ngTemplateOutletContext]="{ $implicit: item, idx: idx }"
                ></ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <app-gotop></app-gotop>
</div>

<ng-template #card let-item let-idx='idx'>
  <div class="rounded-md shadow-md border-4 border-primary-500 card">
    <figure>
      <img [src]="baseUrl + '/' + item.image" [alt]="item.title" />
    </figure>
    <div class="card-summary">
      <div class="card-category">{{ item.device }}</div>
      <h2>{{ item.title }}</h2>
      <div class="card-description">{{ item.description }}</div>
    </div>
    <a [href]="item.link" target="_blank"></a>
  </div>
</ng-template>
