<nav class="navigation">
  <ul>
    <li
      *ngFor="let timeline of list$ | async as list; let i = index"
      class="navigation__item"
      (click)="onYear( i )"
      >{{ timeline.year }}
    </li>
  </ul>
</nav>

<div class="timeline">
  <div class="timeline__item" 
    *ngFor="let timeline of list$ | async as list; let i = index"
    #timeline
  >
    <p class="timeline__item-year">{{ timeline.year }}</p>
    <div
      class="timeline__item-content on"
      *ngFor="let item of timeline.portfolio; let j = index"
    >
      <div class="card">
        <figure>
          <img [src]="baseUrl + '/' + item.images" [alt]="item.title" />
        </figure>
        <div class="card-summary">
          <div class="card-category">{{ item.device }}</div>
          <h2>{{ item.title }}</h2>
          <div class="card-description">{{ item.description }}</div>
        </div>
        <a [href]="item.link" target="_blank"></a>
      </div>
    </div>
  </div>
</div>
<app-gotop></app-gotop>