<div class="block lg:flex lg:flex-row-reverse lg:space-x-2 py-4 mb-10">
  <div class="w-full lg:w-1/4 px-4 lg:pl-0">
    <app-blog-side-categories></app-blog-side-categories>
  </div>
  <div class="w-full lg:w-3/4 px-4 lg:pl-0">
    <ng-container *ngIf="page$ | async as list">
      <ng-container *ngFor="let link of list">
        <div class="p-4 border-b border-gray-300">
          <div class="flex justify-between items-center">
            <span class="text-gray-700 text-sm">
              {{ link.date | date: "mediumDate" }}
              <!-- <span *ngIf="link.readingTime">
                - {{ link.readingTime | number: "1.0-0" }}
                {{ link.readingTime > 1 ? "mins" : "min" }}
              </span> -->
            </span>
            <a
              *ngIf="link.categories?.length"
              class="
                px-2
                py-1
                text-sm text-secondary
                font-bold
                rounded
                hover:text-white hover:bg-primary-500
                transition-colors
                duration-200
                ease-in-out
                cursor-pointer
              "
              [routerLink]="[
                '/blog/categories',
                link.categories[0].toLowerCase()
              ]"
            >
              {{ link.categories[0] }}
            </a>
          </div>

          <div>
            <a [routerLink]="['/blog', link.directory, link.slug]">
              <p class="text-gray-500 font-semibold leading-loose text-xl">
                {{ link.title }}
              </p>
              <p class="leading-relaxed text-gray-500 text-sm">
                {{ link.summary }}...more
              </p>
            </a>
          </div>
        </div>
      </ng-container>

      <app-pagination
        [total]="pageTotal || 0"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (onPageIndexChange)="getPageIndex($event)"
      ></app-pagination>
    </ng-container>
  </div>
</div>
