<div>
  <div class="py-[3.35rem] px-[4vw]">
    <h3 class="text-3xl text-black">最新文章</h3>
  </div>
  <ng-container *ngIf="page$ | async as list">
    <div
      *ngFor="let link of list"
      class="border-t border-neutral-200 py-10 px-[4vw]"
    >
      <div class="flex items-center justify-between">
        <span class="text-sm text-gray-700">
          {{ link.date | date: "mediumDate" }}
          <!-- <span *ngIf="link.readingTime">
                - {{ link.readingTime | number: "1.0-0" }}
                {{ link.readingTime > 1 ? "mins" : "min" }}
              </span> -->
        </span>
        <a
          *ngIf="link.categories?.length"
          class="text-secondary cursor-pointer rounded px-2 py-1 text-sm font-bold transition-colors duration-200 ease-in-out hover:bg-primary-500 hover:text-white"
          [routerLink]="['/blog/categories', link.categories[0].toLowerCase()]"
        >
          {{ link.categories[0] }}
        </a>
      </div>

      <div>
        <a [routerLink]="['/blog', link.directory, link.slug]">
          <p class="text-xl font-semibold leading-loose text-gray-800">
            {{ link.title }}
          </p>
          <p class="text-sm leading-relaxed text-gray-500">
            {{ link.summary }}...more
          </p>
        </a>
      </div>
    </div>

    <div class="mt-5 border-y border-neutral-200">
      <app-pagination
        [total]="pageTotal || 0"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (onPageIndexChange)="getPageIndex($event)"
      ></app-pagination>
    </div>
  </ng-container>
</div>
