<div
  class="w-16 h-16 relative mb-4"
  role="img"
  aria-label="Avatar of the blog author"
>
  <div
    class="group w-full h-full rounded-full border-4 border-transparent text-center flex items-center relative avatar"
    [attr.data-tooltip]="'New version available 🚀'"
  >
    <img
      src="https://avatars.githubusercontent.com/u/9474129?s=460&u=40a7b60af5d85d9fb0c9ff455a59da17099eea05&v=4"
      alt="avatar"
      class="object-cover object-center rounded-full w-full h-full visible group-hover:hidden"
      width="64"
      height="64"
    />
  </div>
</div>
