---
const today = new Date();
---
<footer class="animation relative bg-default lg:transition-none">
  <div>
    <p class="p-4 text-right text-xs">
      Copyright © {today.getFullYear()} Mandy. All rights reserved. Build with Astro
    </p>
  </div>
</footer>
