---
export interface Props {
	date: Date;
	className?: string;
	type?: 'default' | 'graphics' | 'en'
}

const { date, className = '', type = 'default'} = Astro.props;
---

{
	type === 'default' && <time class=`${className}`>
		{ date.getFullYear()}/{ (date.getMonth() + 1).toString().padStart(2, '0') }/{date.getDate().toString().padStart(2, '0')}
	</time>
}

{
	type === 'graphics' && <div class=`${className}`>
	<span class="text-6xl font-bold block">{
		new Date(date).getDate().toString().padStart(2, '0')
	}</span>
		<span>{
			`${date.toLocaleDateString('en-us', {
				month: 'short',
			})} ${new Date(date).getFullYear()}`
		}</span>
	</div> 
}

{
	type === 'en' && <time>
	{
		date.toLocaleDateString("en-us", {
			year: "numeric",
			month: "short",
			day: "numeric",
		})
	}
</time>
}


<!-- <div class=` ${className}`>
	<span class="text-6xl font-bold block">{
		new Date(date).getDate().toString().padStart(2, '0')
	}</span>
	<span>{
		`${date.toLocaleDateString('en-us', {
			month: 'short',
		})} ${new Date(date).getFullYear()}`
	}</span>
</div>  -->
