---
const { tags } = Astro.props;
---

{
  (tags || []).map((tag: any) => {
    return (
      <a
        href={`/blog/tags/${tag.toLowerCase()}`}
        class="px-2 py-1 mr-2 text-xs font-normal border rounded-md border-primary-100 text-primary-500 bg-primary-50
        dark:border-primary-400 dark:bg-primary-500 dark:text-primary-50
        "
      >
        {tag}
      </a>
    );
  })
}
