<div class="h-full min-h-screen">
  <div class=" py-[3.35rem] px-[4vw]">
    <h3 class="text-3xl text-black">
      類別：{{ activatedRoute.snapshot.params["category"].toLocaleUpperCase() }}
    </h3>
  </div>
  <ul class="py-10 border-y border-neutral-200">
    <li
      *ngFor="let link of categoriesList$ | async; let last = last"
      class="py-4 px-[4vw]"
      [ngClass]="last ? 'border-none' : ''"
    >
      <a [routerLink]="['/blog', link.directory, link.slug]"
          >{{ link.date }}　{{ link.title }}</a
        >
    </li>
  </ul>
  <app-pagination
    [total]="(categoriesAllList$ | async)?.length || 0"
    [hideSinglePage]="true"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (onPageIndexChange)="getPageIndex($event)"
  ></app-pagination>
</div>
