<ng-container *ngIf="postMeta$ | async as post">
  <div class="h-full min-h-[calc(100vh+64px)]">
    <div class="py-[2.35rem] px-[4vw]">
      <time [dateTime]="post">
        {{ post.date | date: "dd MMMM yyyy" }}
      </time>
      <h1 class="text-3xl leading-loose text-black">{{ post.title }}</h1>
      <div class="mt-2">
        <a
          *ngFor="let tag of post.tags"
          [routerLink]="['/blog/tags', tag.toLowerCase()]"
          class="mr-2 cursor-pointer rounded bg-primary-50 px-2 py-1 text-sm text-gray-500"
          >{{ tag }}</a
        >
      </div>
    </div>
    <div class="border-y border-neutral-200 py-10 px-[4vw]">
      <div class="prose" #content [innerHTML]="postContent$ | async"></div>
      <hr class="my-8 text-gray-200" />
      <p class="text-lg">對這篇文章有什麼想法嗎?</p>
      <app-blog-posts-comments></app-blog-posts-comments>
    </div>
    <!-- <div class="fixed right-0 top-44 bg-white">
      <app-blog-posts-toc [contentElement]="content"></app-blog-posts-toc>
    </div> -->
  </div>
</ng-container>
<div class="fixed bottom-16 right-8 transition duration-300">
  <app-gotop></app-gotop>
</div>
