<div
  class="relative z-[1] block min-h-full before:fixed before:top-0 before:left-1/2 before:ml-[640px] before:block before:h-full before:min-h-screen before:w-[1px] before:bg-primary-500 after:fixed after:top-0 after:right-1/2 after:mr-[640px] after:block after:h-full after:min-h-screen after:w-[1px] after:bg-neutral-100 lg:flex"
>
  <ng-container *ngIf="postMeta$ | async as post">
    <article
      class="animation relative z-[1] bg-white lg:float-left lg:w-[calc(100%-20rem)] lg:transition-none"
      [ngClass]="
        (appService.toggleHamburger$ | async)
          ? '-translate-x-80 lg:translate-x-0'
          : ''
      "
    >
      <div class="h-full min-h-screen">
        <div class="py-[2.35rem] px-[4vw]">
          <time [dateTime]="post">
            {{ post.date | date: "dd MMMM yyyy" }}
          </time>
          <h1 class="text-3xl leading-loose text-black">{{ post.title }}</h1>
          <div class="mt-2">
            <a
              *ngFor="let tag of post.tags"
              [routerLink]="['/blog/tags', tag.toLowerCase()]"
              class="mr-2 cursor-pointer rounded bg-primary-50 px-2 py-1 text-sm text-gray-500"
              >{{ tag }}</a
            >
          </div>
        </div>
        <div class="border-y border-neutral-200 py-10 px-[4vw]">
          <div class="prose" #content [innerHTML]="postContent$ | async"></div>
          <hr class="my-8 text-gray-200" />
          <p class="text-lg">對這篇文章有什麼想法嗎?</p>
          <app-blog-posts-comments></app-blog-posts-comments>
        </div>
      </div>

      <app-footer></app-footer>
    </article>
    <aside
      class="animation absolute -top-[152px] right-0 z-0 min-h-full w-80 origin-[center_right] bg-primary-800 lg:relative lg:top-0 lg:float-right lg:transition-none"
      [ngClass]="
        (appService.toggleHamburger$ | async)
          ? 'scale-100'
          : 'scale-90 lg:scale-100'
      "
    >
      <app-blog-posts-toc [contentElement]="content"></app-blog-posts-toc>
    </aside>
  </ng-container>
</div>
<div class="fixed bottom-16 right-8 z-50 transition duration-300">
  <app-gotop></app-gotop>
</div>
