@import './../../assets/scss/common';

.prose {
  @apply text-base text-gray-500;
  font-family: 'PingFangSC-Regular', Helvetica, 'Helvetica Neue', 'Segoe UI',
    'Hiragino Sans GB', 'Source Han Sans CN', 'Microsoft YaHei', 'STHeiti',
    'WenQuanYi Micro Hei', sans-serif !important;

  h1 {
    @apply text-3xl text-gray-700;
  }

  h2 {
    @apply mt-10 mb-4 text-xl font-bold text-gray-600;
  }

  h3 {
    @apply mt-4 mb-2 text-lg font-bold text-gray-600;
  }

  p {
    @apply my-2;
  }

  pre {
    @apply my-4;
  }

  img {
    @apply my-4 mx-auto;
  }

  hr {
    @apply my-8;
  }

  iframe {
    @apply mt-4 mb-2 mx-auto max-w-full min-h-full;
    & + p {
      @apply text-center mt-2-rev;
      & > em {
        @apply text-sm;
      }
    }
    @apply w-full min-h-128;
  }

  blockquote {
    @apply text-gray-medium my-4 py-1 px-2 border-l-4 border-gray-400 border-solid;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ol,
  ul {
    @apply ml-5 my-4;
    & li:not(:last-of-type) {
      @apply mb-2;
    }
  }

  :not(pre) > code {
    @apply bg-gray-100 rounded px-1 font-thin break-words;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: inherit;
  }
}

:host {
  .toolbar-item {
    position: relative;
    background: #159;
    .toolbar {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
    }
  }
}

a {
  display: block;
  text-decoration: underline;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
  }
}

table {
  margin: rem(16px) 0 rem(8px) 0;
  width: 100%;
  border-collapse: collapse;

  caption {
    line-height: 48px;
    font-size: rem(20px);
    font-weight: bold;
  }
  th {
    color: var(--text-color);
    background: var(--table-even-row);
  }

  th,
  td {
    padding: rem(8px) rem(4px);
    text-align: center;
    line-height: 1.2;
    border: 1px solid var(--table-even-row);
  }
}

.gotop {
  position: fixed;
  bottom: rem(64px);
  // right: rem(32px);
  left: 50%;
  margin-left: rem(400px);
  opacity: 1;
  transition: 0.3s;
  .btn {
    width: rem(40px);
    height: rem(40px);

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      margin-left: rem(-4px);
      border-radius: rem(3px);
      content: '';
      width: rem(16px);
      height: rem(5px);
      background: var(--primary);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
      margin-left: rem(4px);
    }
  }
  @media (max-width: 1024px) {
    right: rem(32px);
    left: auto;
    margin: 0;
  }
}
