---
import type { Props } from 'astro';
import { getCollection } from 'astro:content';
import Categories from '../../../components/Categories.astro';
import Header from '../../../components/Header.astro';
import SearchWidget from '../../../components/SearchWidget.astro';
import { SITE_TITLE } from '../../../consts';
import AsideLayout from '../../../layouts/AsideLayout.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
import MainLayout from '../../../layouts/MainLayout.astro';
import FormattedDate from '../../../components/FormattedDate.astro';
import { sortByDate } from '../../../lib/sortFunctions';

export async function getStaticPaths() {
  const posts = await getCollection('blog', (data: any) => !data.data.isDraft);
  const tags = [
    ...new Set(posts.map((post: any) => post.data.tags).flat()),
  ].filter((d: string) => !!d);

  const tagsList = tags.map((t: string) => {
    return {
      params: { slug: t.toLowerCase() },
      props: {
        tag: t,
        posts: sortByDate(
          posts.filter((p) => {
            return p.data.tags
              ?.map((tag: string) => tag.toLowerCase())
              .includes(t.toLowerCase());
          })
        ),
      },
    };
  });

  return tagsList;
}

const { slug } = Astro.params;
const { posts, tag } = Astro.props as any;
---

<MainLayout title={tag + ' | ' + SITE_TITLE}>
  <Header />
  <ContentLayout>
    <div class="h-full min-h-screen">
      <div class="py-[3.35rem] px-[4vw]">
        <h3 class="text-3xl text-black">
          標籤：{tag.toUpperCase()}
        </h3>
      </div>
      <ul class="py-10 border-y border-neutral-200">
        {
          posts.map((p: any) => {
            return (
              <li class="py-4 px-[4vw]">
                <a href={`/blog/${p.slug}`}>
                  <FormattedDate
                    date={p.data.update || p.data.date}
                    className="mr-4 text-left"
                  />
                  {p.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
    <AsideLayout slot="aside">
      <SearchWidget />
      <Categories />
    </AsideLayout>
  </ContentLayout>
</MainLayout>