/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "highlight.js/scss/atom-one-dark";


:root {
  /* --primary: theme('colors.purple.600');
  --secondary: theme('colors.yellow.600'); */
  --primary: #00aaaa;
  --secondary: #4a4744;
  --background-color: theme("colors.white");
  --text-color: #444;
  --text-color-contrast: theme("colors.white");
  --gray-light: theme("colors.gray.500");
  --gray-medium: theme("colors.gray.600");
  --gray-dark: theme("colors.gray.700");
  --table-even-row: theme("colors.gray.200");
  --shadow: theme("boxShadow.lg");
  --text-link-color: theme("colors.blue.500");
}
