---
import BaseHead from "../components/BaseHead.astro";
const { title } = Astro.props;
---

<html lang="en" class="text-gray-700">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <div
      class="relative mx-auto before:fixed before:right-0 before:top-0 
      before:block before:w-80  lg:before:h-screen
      before:bg-primary-900 before:transition lg:max-w-7xl lg:before:w-1/2"
    >
      <slot />
    </div>
    <!-- overflow-hidden -->
    <!-- <div
      class="relative mx-auto before:fixed before:right-0 before:top-0 before:block before:h-screen before:w-80 before:bg-primary-900 before:transition lg:max-w-7xl lg:before:w-1/2"
    >
      <slot />
    </div> -->
  </body>
</html>
