<div class="pr-10 md:pr-10 text-right mt-10">
  <img
    src="/assets/img/monkey.png"
    alt="welcome to Mandy's website"
    class="inline-block w-8/12 dark:invert"
  />
</div>
<div class="p-6 bg-primary-500 text-white">
  <h1
    class="text-4xl sm:text-5xl pb-6 border-b-2 border-white leading-none font-serif"
  >
    Hello World
  </h1>
  <br /><br />
  <p class="sm:text-lg mt-2 leading-tight">Welcome to Mandy's WebSite</p>
  <!-- <p class="sm:text-lg mt-2 leading-tight">隨意看看 就不招待啦</p> -->
  <!-- <p class="text-xl mt-2 leading-tight text-right">致敬歐萊禮</p> -->
</div>
