<p class="mt-10 pl-2 text-xl font-medium border-l-4 border-primary-500">
  標籤雲
</p>
<div class="pl-2">
  <ng-container
    *ngFor="let tag of blogService.getBlogTags$ | async | keyvalue"
  >
    <a
      class="mx-0.5"
      [ngStyle]="{
        fontSize: +tag.value + 11 > 30 ? 30 + 'px' : +tag.value + 11 + 'px'
      }"
      [ngClass]="
        +tag.value + 11 > 30 ? 'font-semibold text-gray-700 dark:text-gray-200' : 'text-gray-500 dark:text-gray-300'
      "
      [routerLink]="['/blog/tags', tag.key.toLowerCase()]"
    >
      {{ tag.key }}
    </a>
  </ng-container>
</div>
<hr class="block lg:hidden my-8" />
